.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
.pip-cache/
pip-wheel-metadata/
.tox/
.nox/
build/
dist/
*.egg-info/
.idea/
.vscode/

runs/**
!runs/.gitkeep

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/tokenizers/*.json
!data/tokenizers/.gitkeep

*.pt
*.bin
*.npy
*.npz
